# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio
.idea/
*.iml
local.properties

# APK files (se generan con gradlew assembleDebug)
*.apk
*.aab

# Logs
*.log

# OS
.DS_Store
Thumbs.db
